<!DOCTYPE mapper     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mybatis.example.mapper.PaymentMapper">
    <resultMap id="payment" type="com.mybatis.example.entity.Payment">
        <id property="id" column="id"/>
        <result property="summa" column="date"/>
    </resultMap>
    <select id="getPaymentsByIdSub" resultMap="payment" parameterType="java.lang.Integer">
        select * from payments where ref_subscriber = #{id}
    </select>
</mapper>
